
.ipynb_checkpoints/README-checkpoint.md
cv_gjd_32_8.png
cv_hel_32_8.png
cv_jsd_32_8.png
cv_kl_32_8.png
cv_nkl_32_8.png
en_gjd_32_8.png
en_hel_32_8.png
en_jsd_32_8.png
en_kl_32_8.png
en_nkl_32_8.png
kl_gj_15_5.png
ku_gjd_32_8.png
ku_hel_32_8.png
ku_jsd_32_8.png
ku_kl_32_8.png
ku_nkl_32_8.png
nkl_gj_15_5.png
nkl_hel_15_5.png
nkl_jens_15_5.png
nkl_kl_15_5 - Copia.png
nkl_kl_15_5.png
nkl_skl_15_5.png
rank_nkl_gjd_32_8.png
rank_nkl_hel_32_8.png
rank_nkl_jsd_32_8.png
rank_nkl_kl_32_8.png
sk_gjd_32_8.png
sk_hel_32_8.png
sk_jsd_32_8.png
sk_kl_32_8.png
sk_nkl_32_8.png
skl_gj-15_5.png
Nuovo Documento di Microsoft Word.docx
